<div class="container my=5">
  <h1 class="mb-3">Novo Contato</h1>


    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="AdicionarContatoCliente()">

          <input type="hidden" class="form-control" id="nome" name="nome" maxlength="100" [(ngModel)]="AdicionarContatoClienteRequest.cliente">
          <div class="mb-3">
            <label for="tipoContato" class="form-label">Tipo de Contato</label>
            <select class="form-control" id="tipoContato" name="tipoContato" maxlength="100" [(ngModel)]="AdicionarContatoClienteRequest.tipoContato">
              <option *ngFor="let tipo of tiposcontatos" value={{tipo.id}}> {{tipo.nome}} </option>
            </select>
          </div>


          <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" maxlength="100" [(ngModel)]="AdicionarContatoClienteRequest.numero">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>


</div>
