<div class="container my=5">
  <h1 class="mb-3">Visualizar Contato do Cliente</h1>


    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="SalvarContatoCliente()">
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" name="id" disabled [(ngModel)]="VisualizarContatoClienteRequest.id">
            <input type="hidden" class="form-control" id="nome" name="nome" maxlength="100" [(ngModel)]="VisualizarContatoClienteRequest.cliente">
          </div>

          <div class="mb-3">
            <label for="tipoContato" class="form-label">Tipo de Contato</label>
            <select class="form-control" id="tipoContato" name="tipoContato" maxlength="100" [(ngModel)]="VisualizarContatoClienteRequest.tipoContato">
            <option *ngFor="let tipo of tiposcontatos" value={{tipo.id}}> {{tipo.nome}} </option>
            </select>
          </div>


          <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" maxlength="100" [(ngModel)]="VisualizarContatoClienteRequest.numero">
          </div>

          <button type="submit" class="btn btn-primary mr-20">Salvar</button>
          <button type="button" class="btn btn-danger ml-20" (click)="ExcluiContatoCliente(VisualizarContatoClienteRequest.id)">Excluir</button>
        </form>
      </div>
    </div>


</div>
